#root {
  width: 100%;
  max-width: 1280px;
  min-width: 450px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}

.header__logo {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  width: 150px;
  height: auto;
}

form {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

input,
select {
  height: 42px;
  font-size: 1rem;
  padding: 10px 15px;
  background-color: #f4f4f4;
  border: 2px solid #a64300;
  border-radius: 8px;
}

ul {
  padding: 0;
  padding-bottom: 30px;
  color: #a64300;
}

ul li {
  margin-bottom: 15px;
  padding: 10px 0;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.container {
  position: relative;
}

.blured {
  filter: blur(3px);
}

.loader-icon {
  width: 50px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotating 1s linear infinite;
}

.result-list {
  list-style-type: none;
}

.result-list__container {
  width: 100%;
  max-width: 600px;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pagination__container {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__button {
  border-radius: 50%;
  padding: 0.75em 1em;
}

.pagination__current {
  border-radius: 50%;
  padding: 0.75em 1.35em;
  color: #a64300;
  background-color: #f4f4f4;
}

.result__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #36aeb3;
  color: #fff;
  clip-path: polygon(
    0 0,
    calc(100% - 1.5rem) 0,
    100% 50%,
    calc(100% - 1.5rem) 100%,
    calc(100% - 1.5rem) calc(100% + 1rem),
    0 calc(100% + 1rem)
  );
  font-weight: 700;
}

.result__button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0.5em 0.8em;
  font-weight: 400;
  color: #213547;
  background-color: transparent;
  border: none;
}

.result__button:hover {
  text-decoration: underline;
}

.result__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.result__container._open > div {
  flex-basis: 50%;
}

.detail {
  position: relative;
  margin-bottom: 30px;
  padding: 76px 16px 16px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.detail__row {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.detail__left {
  font-weight: 700;
  text-transform: uppercase;
}

.detail__right {
  margin-left: 12px;
  font-size: 0.9rem;
  text-align: justify;
}

.detail__button {
  position: absolute;
  top: 16px;
  right: 16px;
  border-radius: 50%;
  padding: 0.75em 1em;
  color: #a64300;
}
